table {
    width: 100%;
    border-collapse: collapse;
    background-color: #F7D6E0;
  }
  
  th {
    background-color: #B98CBF;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #B98CBF;
  }
  
  td {
    background-color: #EFCFE3;
    color: #704B9F;
    padding: 10px;
    border: 1px solid #B98CBF;
  }
  
  a {
    color: #704B9F;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  