#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: pink;
}

.grid-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  flex-basis: 19%;
}

img {
  max-width: 80%;
}

@media screen and (max-width: 62rem) {
  .image-container {
    flex-basis: 31%;
  }
}

@media screen and (max-width: 37.5rem) {
  .image-container {
    flex-basis: 48%;
  }
}

.search-bar{
  margin: 2.5rem;

}

.search-input{
  font-size: 1.5rem;
  background-color: transparent;
  border: 0.125rem solid #61dafb;
  color: #61dafb;
  padding:  0.9375rem 1.25rem;
  border-radius: 0rem 0.625rem 0rem 0.625rem ;
}

.search-input:focus{
  outline: none;
}

.search-input::placeholder{
  color: #61dafb;
}

.search-button{
  background-color: transparent;
  border: 0.125rem solid #61dafb;
  font-size: 1.25rem;
  padding: 0.9375rem 1.25rem;
  border-radius: 0rem 0.625rem 0.625rem 0rem;
  color: #61dafb;
}

.search-button:hover{
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
}

.search-button:focus{
  outline: none;
}

.title {
  color:white;
}